<!DOCTYPE html>
<html lang="es" ng-app="IngresarCajero">
<head>
    <meta charset="utf-8" />
    <title> Vista Cajero </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../ScriptsVistas/IngresarCajero.js"></script>
    <link rel='stylesheet' href='StyleSheet1.css'>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Ingresar</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-controller="ingresarCajeroController">
        <form>
            <center>
                <br><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="Usuario" type="text" class="form-control" name="usuario" placeholder="Usuario" required ng-model="usuario">
                </div>
                <br><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="contraseña" placeholder="Contraseña" required ng-model="contrasena">
                </div>
                <br><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                    <input id="cantidadInicial" type="number" class="form-control" name="CantidadEfectivo" placeholder="Cantidad de Efectivo" required ng-model="entrada" onkeypress="return isNumberKey(event)">
                </div>
                <br><br>
                <button type="button" class="button button-primary" ng-click="ingresar(usuario, contrasena, entrada)">Ingresar</button>
            </center>
        </form>

    </div>


</body>
</html>