<!DOCTYPE html>
<html lang="es" ng-app="VentaCajero">
<head>
    <meta charset="utf-8" />
    <title> Crear Nuevo Cliente </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../ScriptsVistas/ventaCajero.js"></script>
    <link rel='stylesheet' href='../StyleSheet1.css'>

    <style>
        .wrapper {
            text-align: center;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .button {
            position: absolute;
        }

        .button1 {
            position: absolute;
        }
    </style>


</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Crear Nuevo Cliente</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div  ng-controller="CrearUsuarioController">
                <section id='registro'>
                    <form action="" method="post" >
                        <center>
                            <h2>Agregar nuevo cliente</h2>
                            <br />
                            <input id="cedula" type="number" class='field' value='' placeholder='Cedula' ng-model="cedula" required onkeypress="return isNumberKey(event)" />
                            <br><br>
                            <input id="primerNombre" type="text" class='field' value='' placeholder='Primer Nombre' ng-model="primerNombre" required />
                            <br><br>
                            <input id="segundoNombre" type="text" class='field' value='' placeholder='Segundo Nombre' ng-model="segundoNombre" required />
                            <br><br>
                            <input id="primerApellido" type="text" class='field' value='' placeholder='Primer Apellido' ng-model="primerApellido" required />
                            <br><br>
                            <input id="segundoApellido" type="text" class='field' value='' placeholder='Segundo Apellido' ng-model="segundoApellido" required />
                            <br><br>
                            <input id="telefono" type="number" class='field' value='' placeholder='Telefono' ng-model="telefono" required  onkeypress="return isNumberKey(event)"/>
                            <br><br>
                            <input id="provincia" type="text" class='field' value='' placeholder='Provincia' ng model="provincia" required />
                            <br><br>
                            <input id="canton" type="text" class='field' value='' placeholder='Canton' ng-model="canton" required />
                            <br><br>
                            <input id="distrito" type="text" class='field' value='' placeholder='Distrito' ng-model="distrito" required />
                            <br><br>
                            <input id="dirrecion" type="text" class='field' value='' placeholder='Direccion' ng-model="dirrecion" required />
                            <br><br>
                            Fecha: <input id="fecha" type="date" class='field' value='' placeholder='Fecha Nacimiento' ng-model="fecha" required />
                            <br><br>
                        </center>
                    </form>
                </section>

                <br />
                <br />
                <div class="wrapper">
                    <button type="button" ng-click="Crear(cedula, primerNombre, segundoApellido , primerApellido, segundoApellido, telefono, provincia, canton, distrito, dirrecion, fecha)">Crear Usuario</button>
                    <button type="button" ng-click="Regresar()">Cancelar</button>
                </div>


            </div>
        </div>
    </div>


</body>
</html>